<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <p>
      <input type="checkbox" <%="checked" if task.completed %> >
      <%= link_to task.title, task_path(task.id) %>
    </p>
  <% end %>
</ul>
