// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 
.details-container {
  padding:30px;
  background: lightblue;
  border-radius: 4px;
  margin-bottom: 20px;
}

.completion-container {
  margin-bottom: 20px;
}